<h3>Home</h3>

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-sm-12">
        <h4>Most Popular Packs</h4>
        <%= render partial: "shared/pack_list", locals: { pack_collection: @popular_packs } %>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-sm-12">
        <h4>Recently Added/Updated Packs</h4>
        <%= render partial: "shared/pack_list", locals: { pack_collection: @recent_packs } %>
    </div>
</div>
